body {
  background: #1ec9e3;
  width: 110%;
}

/*Title area*/
#disclaimer {
  height: 25px;
  width: 300px;
  font-size: 15px;
  margin: 0 auto;
}
#title {
  height: 50px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 25px;
}


/*Sidebar Elements*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 0 10px black;
}
.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
}
.updateButton{
  height: 40px;
  width: 150px;
  padding: 6px 8px 6px 16px;
  margin: 0 auto;
  color: 'gray';
  display: block;
}
#credit {
  display: block;
  color: black;
  bottom: 0;
  left: 0;
  font-size: 15px;
  padding-bottom: 50px;
  padding-left: 20px;
  text-decoration: none;
  position: absolute;
}
#instruction{
  display: block;
  color: black;
  font-size: 20px;
  margin-top: 30px;
  padding: 6px 8px 6px 16px;
}


/*graph and results display*/
#result {
  height: 30px;
  width: 200px;
  padding-top: 8px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  background: '';
  border-radius: 5%;
  box-shadow: 0 0 10px black;
}
#graphContainer {
	position: relative;
	height: 40vh;
	width: 50vw;
	margin: 0 auto;
  margin-top: 20px;
	background: lightblue;
  border-radius: 5%;
  border: 5px solid black;
  box-shadow: 0 0 10px black;
}

/*Dictionary Display options*/
#dictWrap {
  height: 300px;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
}
#dictTitle {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}
#posDict {
  height: 250px;
  width: 250px;
  margin: 25px;
  border: 1px solid black;
  border-radius: 10%;
  overflow-wrap: anywhere;
  background: #b3d4ab;
  padding: 10px;
  box-shadow: 0 0 10px black;
  font-size: 15px;
   
}
#negDict {
  height: 250px;
  width: 250px;
  margin: 25px;
  border-radius: 10%;
  border: 1px solid black;
  overflow-wrap: anywhere;
  background: #d4abab;
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 0 10px black;
}

#refreshButton {
  display: none;
}

@media screen and (max-width: 800px) {
  .sidenav {display: none;}
  .sidenav a {display: none;}
  #dictTitle {display: none;}
  #dictWrap {display: none;}
  #graphContainer {width: 90vw;}
  #refreshButton {  
  height: 50px;
  width: 150px;
  padding: 6px 8px 6px 16px;
  margin-top: 20px;
  margin: 0 auto;
  color: 'gray';
  display: block;
  }
  body{width: 100%;}
}
